{{template "base/head" .}}
<div class="repository file list">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<script>
			
			var query = "{{.Keyword}}";
		</script>
		<div class="ui category search">
			<form id="form-search" action="{{$.RepoLink}}/search">
				<div class="ui fluid action input">
					<input id="inputQuery" name="q" value="{{.Keyword}}" placeholder='{{$.i18n.Tr "search_this_repo"}}...' required>
					<select class="ui compact selection dropdown" name="order" id="sort-search">
						<option value="recent">{{$.i18n.Tr "recent"}}</option>
						<option value="revert">{{$.i18n.Tr "old"}}</option>
					</select>
					<button type="submit" class="ui button green">{{$.i18n.Tr "search"}}</button>
				</div>
			</form>
		</div>
		
		<h2 class="ui header">
			{{if .Matches}}
				{{$.i18n.Tr "repo.results_search"}}: Se encontraron <span style="color:orange">{{.Matches.NumberMatches}}</span> archivos con {{$.i18n.Tr "incidencias"}}
			{{else}}
				{{$.i18n.Tr "repo.results_search"}}: Se encontraron <span style="color:orange">0</span> archivos con {{$.i18n.Tr "incidencias"}}
			{{end}}
		</h2>
		{{if .Matches}}
		<div class="ui divider"></div>
		<div class="ui relaxed divided list">
			{{range .Matches.Results}}
			<div class="item">
				<div class="tab-size-8" id="file-content">
					<h4 class="ui top attached header" id="">
						<i class="file text outline icon ui left"></i>
						<a class="file_link" href="{{$.RepoLink}}/src/master/{{.Path}}" target="_blank"><strong>{{.Path}}</strong></a> - <a rel="nofollow" class="ui sha label blue" href="{{$.RepoLink}}/commit/{{.CommitID}}">{{.CommitID}}</a>
					</h4>
					<div class="ui attached table segment">
						<div class="file-view code-view">
							<pre style="margin-left: 5px; margin-bottom: -3.5%;">
								<code style="margin-top: -1.5%; display: block; overflow-x: inherit;" data-path="{{.Path}}">
									{{.Content}}
								</code>
							</pre>
						</div>
					</div>
				</div>
			</div>
			{{end}}
		</div>
		{{else}}
		<div class="ui tertiary inverted segment">
			<p align="center">No se han encontrado resultados</p>
		</div>
		{{end}}
		
		<div class="ui grid">
			<div class="ui row centered">
				<div class="ui pagination menu" style="display: none;" id="menu-paginador"></div>
			</div>
		</div>

		<script type="text/javascript">
			$('code').each(function (index, value) { 
				var texto = $(this).html();
				var path = $(this).attr("data-path");
				var nuevo = texto.replace(new RegExp(query, 'gi'), '<span style="background-color: yellow">'+query+'</span>');
				nuevo = nuevo.substring(nuevo.indexOf(path) + path.length);
				$(this).html(nuevo);
			});
			$('.file_link').each(function (index, value) {
				var href = $(this).attr("href");
				href = href.replace(new RegExp("%0A", 'gi'), '');
				$(this).attr("href",href);
			});
			$( document ).ready(function() {

			    var currentPage = {{.CurrentPage}};
			    var pages = {{.Pages}};
			    if(pages > 1){
			    	var paginador = '';
			    	for(i=1; i<=pages; i++){
			    		if(i == currentPage){
			    			paginador += '<a class="item active" href="{{$.RepoLink}}/search?q={{.Keyword}}&order={{.Order}}&page='+i+'">'+i+'</a>';
			    		}else{
			    			paginador += '<a class="item" href="{{$.RepoLink}}/search?q={{.Keyword}}&order={{.Order}}&page='+i+'">'+i+'</a>';
			    		}
			    	}
			    	$("#menu-paginador").html(paginador);
					$("#menu-paginador").show();
			    }
			});
		</script>
	</div>
</div>
{{template "base/footer" .}}
