{{template "base/head" .}}
<div class="repository file list">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<script>
			hljs.initHighlightingOnLoad();
			var query = "{{.Keyword}}";
		</script>
		<div class="ui category search">
			<form id="form-search" action="{{$.RepoLink}}/search">
				<div class="ui fluid action input">
					<input id="inputQuery" name="q" value="{{.Keyword}}" placeholder='{{$.i18n.Tr "search_this_repo"}}...' required>
					<select class="ui compact selection dropdown" name="order" id="sort-search">
						<option selected="" value="recent">{{$.i18n.Tr "recent"}}</option>
						<option value="revert">{{$.i18n.Tr "old"}}</option>
					</select>
					<button type="submit" class="ui button green">{{$.i18n.Tr "search"}}</button>
				</div>
			</form>
		</div>
		
		<h2 class="ui header">
			{{$.i18n.Tr "repo.results_search"}}: Se encontraron <span style="color:orange">{{.Matches.NumberMatches}}</span> archivos con {{$.i18n.Tr "incidencias"}}
		</h2>
		<div class="ui divider"></div>
		<div class="ui relaxed divided list">
			{{range .Matches.Results}}
			<div class="item">
				<div class="tab-size-8" id="file-content">
					<h4 class="ui top attached header" id="">
						<i class="file text outline icon ui left"></i>
						<a class="file_link" href="{{$.RepoLink}}/src/master/{{.Path}}" target="_blank"><strong>{{.Path}}</strong></a> - <a rel="nofollow" class="ui sha label blue" href="{{$.RepoLink}}/commit/{{.CommitID}}">{{.CommitID}}</a>
					</h4>
					<div class="ui attached table segment">
						<div class="file-view code-view">
							<pre style="margin-bottom: -4%;">
								<code style="margin-left: 2%; margin-top: -3.5%; overflow: hidden;">
									{{.Content}}
								</code>
							</pre>
						</div>
					</div>
				</div>
			</div>
			{{end}}
		</div>
		<script type="text/javascript">
			$('code').each(function (index, value) { 
				var texto = $(this).html();
				var nuevo = texto.replace(new RegExp(query, 'gi'), '<span style="background-color: yellow">'+query+'</span>');
				nuevo = nuevo.substring(nuevo.indexOf("\n") + 1);
				$(this).html(nuevo);
			});
			$('.file_link').each(function (index, value) {
				var href = $(this).attr("href");
				href = href.replace(new RegExp("%0A", 'gi'), '');
				$(this).attr("href",href);
			});
		</script>
	</div>
</div>
{{template "base/footer" .}}
