{{template "base/head" .}}
<style type="text/css" media="screen">
	
	.grid.board{
		overflow-x: auto;
		flex: 0 1 auto;
		flex-wrap: nowrap;
		height: 85%;
		min-height: 85%;
	}

	.full.height{
		height: 100%;
	}

	.repository{
		display: flex;
		flex-flow: column;
		flex-grow: 1;
		padding-bottom: 0;
		height: 87%;
		max-height: 87%;
	}

	.hidden{
		display: none;
	}

	.list.title{
		max-width: 55%;
	}

	.ui.card .meta.duration{
		font-size: 0.8rem;
	}

	.column.list_{
		min-width: 325px;
	}

	.column.list_ > .holder{
		min-height: 95%;
		max-height: 95%;
		overflow-y: auto;
	}

	.ui.red.card > .top.buttons > .button {
		background: #EC4E6AB3;
	}

	.ui.olive.card > .top.buttons > .button {
		background: #BBE17280;
	}

	.ui.teal.card > .top.buttons > .button {
		background: #96C7E4B3;
	}

	/*
	.ui.red.card{
		box-shadow: 0 0 0 1px #d4d4d5,0 3px 0 1px #EC4E6AB3,0 1px 3px 0 #d4d4d5;
	}

	.ui.olive.card{
		box-shadow: 0 0 0 1px #d4d4d5,0 3px 0 1px #8EE489CC,0 1px 3px 0 #d4d4d5;
	}

	.ui.teal.card{
		box-shadow: 0 0 0 1px #d4d4d5,0 3px 0 1px #96C7E4B3,0 1px 3px 0 #d4d4d5;
	}

	*/

	.card .content .description{
		padding-top: 5px;
		word-wrap: break-word;
	}

	.card .content .description p {
		white-space: pre-line;
	}


</style>

<script src="{{AppSubUrl}}/js/jquery-ui.js"></script>

<div class="repository">

	{{template "repo/header" .}}
	{{template "base/board_modal_actions" .}}
	<div class="ui padded unstackable grid board"> <!-- Start of Board-->

		{{range .Lists}} <!-- Array of lists-->

		<div class="three wide column list_" data-id="{{.ID}}" data-index="{{.Position}}"> <!-- Representation of a list -->
			<div class="ui top attached borderless compact inverted small menu">
				<div class="ui sub header list title item">{{.Title}}</div>
				<div class="right menu">
					<a class="fitted item">
						<div class="ui black compact icon buttons">
							<button class="ui button edit list"><i class="setting icon"></i></button>
							<button class="ui button new task"><i class="plus icon"></i></button>
							<button class="ui button delete list"><i class="close icon"></i></button>
						</div>
					</a>
				</div>
			</div>

			<ul class="ui bottom attached centered secondary segment holder">
				<form class="ui mini hidden form disabled">
					<div class="field">
						<textarea rows="2" placeholder="Descipcion de la tarjeta"></textarea>
					</div>
					<div class="ui fluid mini black button add task">Añadir</div>
				</form>
				{{range .Cards}}
				<li class="ui card"  data-id="{{.ID}}" data-list="{{.ListID}}" data-index="{{.Position}}" data-state="{{.State}}" data-assignee="{{if .AssigneeID}}{{.Assignee.Name}}{{end}}" data-duration="{{.Duration}}" data-activated="{{.ActivatedUnix}}">
					{{if not $.Repository.IsClosed}}
					<div class="ui top attached mini icon buttons">
						<button class="ui button edit task" data-tooltip="Editar" data-position="bottom center"><i class="setting icon"></i></button>
						<button class="ui button set duration" data-tooltip="Duración" data-position="bottom center"><i class="alarm icon"></i></button>
						<button class="ui button change state" data-tooltip="" data-position="bottom center"><i class="icon"></i></button>
						<button class="ui button delete task" data-tooltip="Eliminar" data-position="bottom center"><i class="close icon"></i></button>
					</div>
					{{end}}
					<div class="content">
						<div class="left floated author assignee">
							{{if .AssigneeID}}
							<img class="ui avatar image" src="{{.Assignee.AvatarLink}}">{{.Assignee.Name}}
							{{end}}
						</div>
						<div class="right floated meta time duration"></div>
						<div class="description">
							<p>{{.Description}}</p>
						</div>
					</div>
				</li>
				{{end}}
			</ul>
		</div>
		{{end}}

		{{if not .Repository.IsClosed}}
		<div class="four wide middle aligned centered column disabled">
			<button class="ui basic labeled icon button add list">
				<i class="plus icon"></i> Nueva Lista
			</button>
		</div>
		{{end}}

	</div><!-- End of Board -->
</div>

<script type="text/javascript">
	$RepoLink = {{$.RepoLink}}
</script>
<script type="text/javascript" src="{{AppSubUrl}}/js/board.js"></script>
{{template "base/footer" .}}
