{{template "base/head" .}}
<div class="user notifications">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/notifications_navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "mynotifications"}} 
					{{if ne .Count 0}}
						<div class="ui right labeled button" tabindex="0">
							<div class="ui green teal button" id="btnWatchedNotifications">
						    	<i class="checkmark box icon"></i> {{.i18n.Tr "markallnotificatios"}}
						 	</div>
						  	<a class="ui basic teal left pointing label">
						    	{{.Count}}
						  	</a>
						</div>
					{{end}}
				</h4>
				<div class="ui attached segment">
					<div class="ui divided selection relaxed list">
						{{if .Notifications}}
							{{range .Notifications}}
								<div class="item itemNotification" data-href="{{.Link}}">
								    {{if eq .Type 1}}
										<i class="bordered add user green icon"></i>
									{{else if eq .Type 2}}
										<i class="bordered remove user red icon"></i>
									{{else if eq .Type 3}}
										<i class="bordered thumbs up blue icon"></i>										
									{{else if eq .Type 4}}
										<i class="bordered thumbs down orange icon"></i>
									{{else if eq .Type 5}}
										<i class="bordered star half empty yellow icon"></i>
									{{else if eq .Type 6}}
										<i class="bordered lock pink icon"></i>
									{{else if eq .Type 7}}
										<i class="bordered unlock violet icon"></i>
									{{else if eq .Type 8}}
										<i class="bordered sticky note olive icon"></i>
									{{else if eq .Type 9}}
										<i class="bordered sticky note outline orange icon"></i>
									{{else if eq .Type 10}}
										<i class="bordered trash outline grey icon"></i>
									{{else if eq .Type 11}}
										<i class="bordered hourglass outline red icon"></i>
									{{else if eq .Type 12}}
										<i class="bordered hourglass half brown icon"></i>
									{{else if eq .Type 13}}
										<i class="bordered green write icon"></i>
									{{else if eq .Type 14}}
										<i class="bordered blue edit icon"></i>
									{{else if eq .Type 15}}
										<i class="bordered orange archive icon"></i>
									{{else if eq .Type 16}}
										<i class="bordered pink upload icon"></i>
									{{else}}
							    		<i class="bordered checked calendar icon"></i>
							    	{{end}}
								    <div class="content">
								    	<a class="header">{{.Description}}</a>
								      	<div class="description">{{TimeSinceNotification .CreatedUnix $.i18n.Lang}}</div>
								    </div>
							  </div>
							{{end}}
						{{else}}
						<div class="ui center aligned segment">
							<i class="big alarm mute icon"></i>
							<br>
							<h3>{{.i18n.Tr "nonewnotifications"}}</h3>
						</div>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$( ".itemNotification" ).click(function() {
		var href = $(this).attr("data-href");
		if(href != "" || href!= null){
			window.location.href = href;
		}
	});

	$( "#btnWatchedNotifications" ).click(function() {
        $.ajax({
            url: suburl + '/api/v1/notifications/update',
            dataType: "json",
            success: function (response) {
                if (response.ok) {
                    location.reload();
                } else {
                    console.log("Error al actualizar watch notificaciones");
                }
            }
        });
    });
</script>
{{template "base/footer" .}}
