{{template "base/head" .}}
<div class="user profile">
	<div class="ui container">
		<div class="ui grid">
			<div class="ui five wide column">
				<div class="ui card">
					{{if eq .SignedUserName .Owner.Name}}
						<a class="image poping up" href="{{AppSubUrl}}/user/settings" id="profile-avatar" data-content="{{.i18n.Tr "user.change_avatar"}}" data-variation="inverted tiny" data-position="bottom center">
							<img src="{{.Owner.RelAvatarLink}}?s=290" title="{{.Owner.Name}}"/>
						</a>
					{{else}}
						<span class="image">
							<img src="{{.Owner.RelAvatarLink}}?s=290" title="{{.Owner.Name}}"/>
						</span>
					{{end}}
					<div class="content">
						{{if .Owner.FullName}}<span class="header text center">{{.Owner.FullName}}</span>{{end}}
						<span class="username text center">{{.Owner.Name}}</span>
					</div>
					<div class="extra content">
						<ul class="text black">
							{{if .Owner.Location}}
								<li><i class="octicon octicon-location"></i> {{.Owner.Location}}</li>
							{{end}}
							{{if and .Owner.Email .IsSigned}}
								<li>
									<i class="octicon octicon-mail"></i>
									<a href="mailto:{{.Owner.Email}}" rel="nofollow">{{.Owner.Email}}</a>
								</li>
							{{end}}
							{{if not .Owner.IsProfessor }}
								{{if .Owner.Boleta}}
								<li>
									<i class="octicon octicon-mortar-board"></i>
									<span>{{.Owner.Boleta}}</span>
								</li>
								{{end}}
							{{end}}
							{{if .Owner.Website}}
								<li>
									<i class="octicon octicon-link"></i>
									<a target="_blank" href="{{.Owner.Website}}">{{.Owner.Website}}</a>
								</li>
							{{end}}
							<li><i class="octicon octicon-clock"></i> {{.i18n.Tr "user.join_on"}} {{DateFmtShort .Owner.Created}}</li>
							<li>
								<i class="octicon octicon-person"></i>
								<a href="{{.Owner.HomeLink}}/followers">
									{{.Owner.NumFollowers}} {{.i18n.Tr "user.followers"}}
								</a>
								-
								<a href="{{.Owner.HomeLink}}/following">
									{{.Owner.NumFollowing}} {{.i18n.Tr "user.following"}}
								</a>
							</li>
							{{/*
							<li>
								<i class="octicon octicon-star"></i>
								<a href="{{.Owner.HomeLink}}/stars">
									{{.Owner.NumStars}} {{.i18n.Tr "user.starred"}}
								</a>
							</li>
							*/}}
							{{if .Orgs}}
							<li>
								{{range .Orgs}}
									<a href="{{.HomeLink}}"><img class="ui mini image poping up" src="{{.RelAvatarLink}}" data-content="{{.Name}}" data-position="top center" data-variation="tiny inverted"></a>
								{{end}}
							</li>
							{{end}}
							{{if and .IsSigned (ne .SignedUserName .Owner.Name)}}
							<li class="follow">
								{{if .SignedUser.IsFollowing .Owner.ID}}
								<a class="ui basic red button" href="{{.Link}}/action/unfollow?redirect_to={{$.Link}}"><i class="octicon octicon-person"></i> {{.i18n.Tr "user.unfollow"}}</a>
								{{else}}
								<a class="ui basic green button" href="{{.Link}}/action/follow?redirect_to={{$.Link}}"><i class="octicon octicon-person"></i> {{.i18n.Tr "user.follow"}}</a>
								{{end}}
							</li>
							{{end}}
						</ul>
					</div>
					<div class="extra centered content">
						<center>
							<div class="statistic">
								<div class="value">
									<span>{{.Owner.Puntos}} Puntos</span>
								</div>
								<div class="label">
									{{if lt .Owner.Puntos 250}}{{.i18n.Tr "ranks.bronze"}}{{else if lt .Owner.Puntos 500}}{{.i18n.Tr "ranks.silver"}}{{else if lt .Owner.Puntos 1000}}{{.i18n.Tr "ranks.gold"}}{{else if lt .Owner.Puntos 1500}}{{.i18n.Tr "ranks.platinum"}}{{else if lt .Owner.Puntos 2500}}{{.i18n.Tr "ranks.diamond"}}{{else}}{{.i18n.Tr "ranks.master"}}{{end}}
								</div>
							</div>
							<br>
							<img id="rango-img" data-points="{{.Points}}" style="max-width: 200px; max-height: 200px;" src="{{AppSubUrl}}/img/{{if lt .Owner.Puntos 250}}Bronze.png{{else if lt .Owner.Puntos 500}}Silver.png{{else if lt .Owner.Puntos 1000}}Gold.png{{else if lt .Owner.Puntos 1500}}Platinum.png{{else if lt .Owner.Puntos 2500}}Diamond.png{{else}}GrandMaster.png{{end}}" title="Rango del Usuario">

						</center>
						<div class="ui indicating progress" data-value="{{.Owner.Puntos}}" data-total="{{if lt .Owner.Puntos 250}}250{{else if lt .Owner.Puntos 500}}500{{else if lt .Owner.Puntos 1000}}1000{{else if lt .Owner.Puntos 1500}}1500{{else if lt .Owner.Puntos 2500}}2500{{else}}10000{{end}}" id="rank">
							<div class="bar"></div>
							<div class="label">No tienes puntos</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui eleven wide column">
				<div class="ui secondary pointing menu">
					<a class="{{if ne .TabName "activity"}}active{{end}} item" href="{{.Owner.HomeLink}}">
						<i class="octicon octicon-repo"></i> {{.i18n.Tr "user.repositories"}}
					</a>
					<a class="item">
						<a class="{{if eq .TabName "activity"}}active{{end}} item" href="{{.Owner.HomeLink}}?tab=activity">
							<i class="octicon octicon-rss"></i> {{.i18n.Tr "user.activity"}}
						</a>
					</a>
				</div>
				{{if ne .TabName "activity"}}
					{{template "explore/repo_list" .}}
					{{template "explore/page" .}}
				{{else}}
					<br>
					<div class="feeds">
						{{template "user/dashboard/feeds" .}}
					</div>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}

<script type="text/javascript">
	$('#rank')
	  .progress({
	    text: {
	      active  : '{left} para el siguiente nivel',
	      success : '¬¬',
	      error   : '¬¬',
	      warning : '¬¬'
	    }
	  })
	;
</script>
