{{template "base/head" .}}
<div class="user profile">
	<div class="ui container">
		<div class="ui grid">
			<div class="ui five wide column">
				<div class="ui card">
					{{if eq .SignedUserName .Owner.Name}}
						<a class="image poping up" href="{{AppSubUrl}}/user/settings" id="profile-avatar" data-content="{{.i18n.Tr "user.change_avatar"}}" data-variation="inverted tiny" data-position="bottom center">
							<img src="{{.Owner.RelAvatarLink}}?s=290" title="{{.Owner.Name}}"/>
						</a>
					{{else}}
						<span class="image">
							<img src="{{.Owner.RelAvatarLink}}?s=290" title="{{.Owner.Name}}"/>
						</span>
					{{end}}
					<div class="content">
						{{if .Owner.FullName}}<span class="header text center">{{.Owner.FullName}}</span>{{end}}
						<span class="username text center">{{.Owner.Name}}</span>
					</div>
					<div class="extra content">
						<ul class="text black">
							{{if .Owner.Location}}
								<li><i class="octicon octicon-location"></i> {{.Owner.Location}}</li>
							{{end}}
							{{if and .Owner.Email .IsSigned}}
								<li>
									<i class="octicon octicon-mail"></i>
									<a href="mailto:{{.Owner.Email}}" rel="nofollow">{{.Owner.Email}}</a>
								</li>
							{{end}}
							{{if not .Owner.IsProfessor }}
								{{if .Owner.Boleta}}
								<li>
									<i class="octicon octicon-mortar-board"></i>
									<span>{{.Owner.Boleta}}</span>
								</li>
								{{end}}
							{{end}}
							{{if .Owner.Website}}
								<li>
									<i class="octicon octicon-link"></i>
									<a target="_blank" href="{{.Owner.Website}}">{{.Owner.Website}}</a>
								</li>
							{{end}}
							<li><i class="octicon octicon-clock"></i> {{.i18n.Tr "user.join_on"}} {{DateFmtShort .Owner.Created}}</li>
							<li>
								<i class="octicon octicon-person"></i>
								<a href="{{.Owner.HomeLink}}/followers">
									{{.Owner.NumFollowers}} {{.i18n.Tr "user.followers"}}
								</a>
								-
								<a href="{{.Owner.HomeLink}}/following">
									{{.Owner.NumFollowing}} {{.i18n.Tr "user.following"}}
								</a>
							</li>
							{{/*
							<li>
								<i class="octicon octicon-star"></i>
								<a href="{{.Owner.HomeLink}}/stars">
									{{.Owner.NumStars}} {{.i18n.Tr "user.starred"}}
								</a>
							</li>
							*/}}
							{{if .Orgs}}
							<li>
								{{range .Orgs}}
									<a href="{{.HomeLink}}"><img class="ui mini image poping up" src="{{.RelAvatarLink}}" data-content="{{.Name}}" data-position="top center" data-variation="tiny inverted"></a>
								{{end}}
							</li>
							{{end}}
							{{if and .IsSigned (ne .SignedUserName .Owner.Name)}}
							<li class="follow">
								{{if .SignedUser.IsFollowing .Owner.ID}}
								<a class="ui basic red button" href="{{.Link}}/action/unfollow?redirect_to={{$.Link}}"><i class="octicon octicon-person"></i> {{.i18n.Tr "user.unfollow"}}</a>
								{{else}}
								<a class="ui basic green button" href="{{.Link}}/action/follow?redirect_to={{$.Link}}"><i class="octicon octicon-person"></i> {{.i18n.Tr "user.follow"}}</a>
								{{end}}
							</li>
							{{end}}
						</ul>
					</div>
					<div class="extra content">
						<script type="text/javascript">
							$( document ).ready(function() {
							    var puntuacion = "{{.Points}}";
							    if(puntuacion>= 0 && puntuacion<=200){
							    	$("#rango-usuario").html("Noob");
							    }
							    if(puntuacion>= 200 && puntuacion<=500){
							    	$("#rango-usuario").html("Amateur");
							    	$("#rango-img").attr("src","https://s-media-cache-ak0.pinimg.com/564x/5f/c9/55/5fc955d58c1b0906de9d2dfdb26332f9.jpg");
							    }
							    if(puntuacion>= 500 && puntuacion<=800){
							    	$("#rango-usuario").html("Pro");
							    	$("#rango-img").attr("src","https://img.clipartfest.com/83ae1bd6e0db2e680a030a1b62cef577_silver-star-military-bronze-star-medal-clipart-vector_169-299.png");
							    }
							    if(puntuacion>= 800 && puntuacion<=1200){
							    	$("#rango-usuario").html("Boss");
							    	$("#rango-img").attr("src","https://upload.wikimedia.org/wikipedia/commons/9/93/Meritorious_Service_Medal_(United_States).png");
							    }
							    if(puntuacion>1200){
							    	$("#rango-usuario").html("Master");
							    	$("#rango-img").attr("src","https://s-media-cache-ak0.pinimg.com/736x/ea/e7/f4/eae7f42964782cdfe721b033614eef47.jpg");
							    }
							});
						</script>
						<center>
								<img id="rango-img" data-points="{{.Points}}" style="max-width: 200px; max-height: 200px;" src="https://img.clipartfest.com/169bac7226cdb001b2edf31e4a2a86ee_-bronze-star-military-bronze-star-medal-clipart-vector_800-1200.jpeg" title="Rango del Usuario">
						</center>
					</div>
					<div class="content">
						<span class="header text center" id="rango-usuario"></span>
					</div>
				</div>
			</div>
			<div class="ui eleven wide column">
				<div class="ui secondary pointing menu">
					<a class="{{if ne .TabName "activity"}}active{{end}} item" href="{{.Owner.HomeLink}}">
						<i class="octicon octicon-repo"></i> {{.i18n.Tr "user.repositories"}}
					</a>
					<a class="item">
						<a class="{{if eq .TabName "activity"}}active{{end}} item" href="{{.Owner.HomeLink}}?tab=activity">
							<i class="octicon octicon-rss"></i> {{.i18n.Tr "user.activity"}}
						</a>
					</a>
				</div>
				{{if ne .TabName "activity"}}
					{{template "explore/repo_list" .}}
					{{template "explore/page" .}}
				{{else}}
					<br>
					<div class="feeds">
						{{template "user/dashboard/feeds" .}}
					</div>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
