<style>
	.ui.repository.list .item:not(:first-child) {
		border: 0;
		padding-top: 0;
	}
</style>
<div class="ui repository list">
	<div class="ui centered grid">
		<div class="row">
			<div class="ui info icon message">
			  <i class="bar chart icon"></i>
			  <div class="content">
			    <div class="header">
			      Lista de los 25 repositorios con mas puntuación en el sistema
			    </div>
			  </div>
			</div>
		</div>
	</div>
	{{range .Repos}}
		<div class="ui fluid card">
			<div class="content">
				<div class="right floated">
					<div class="ui label">
						<img class="ui avatar image" src="{{AppSubUrl}}/img/Award.png">
						<span class="rating">{{.GetHTMLAverageRepo}}</span>
					</div>
					<span class="text grey"><i class="octicon octicon-star"></i> {{.NumStars}}</span>
			    </div>
				<div class="header">
					<a class="name" href="{{AppSubUrl}}/{{if .Owner}}{{.Owner.Name}}{{else if $.Org}}{{$.Org.Name}}{{else}}{{$.Owner.Name}}{{end}}/{{.Name}}">{{if $.PageIsExplore}}{{.Owner.Name}} / {{end}}{{.Name}}</a>
					{{if .IsPrivate}}
						<span class="text gold"><i class="octicon octicon-lock"></i></span>
					{{else if .IsFork}}
						<span><i class="octicon octicon-repo-forked"></i></span>
					{{else if .IsMirror}}
						<span><i class="octicon octicon-repo-clone"></i></span>
					{{end}}
				</div>
				<div class="meta">
					<div class="ui small breadcrumb">
						{{if .SemesterID}}
						<a class="section" href="/explore/repos?q={{.GetSemesterName}}">{{.GetSemesterName}}</a>
						{{end}}

						{{if .GroupID}}
						<i class="right chevron icon divider"></i>
						<a class="section" href="/explore/repos?q={{.GetGroupName}}">{{.GetGroupName}}</a>
						{{end}}

						{{if .SubjectID}}
						<i class="right chevron icon divider"></i>
						<a class="section" href="/explore/repos?q={{.GetSubjectName}}">{{.GetSubjectName}}</a>
						{{end}}

						{{if .ProfessorID}}
						<i class="right chevron icon divider"></i>
						<a class="section" href="/explore/repos?q={{.GetProfessorName}}">{{.GetProfessorName}}</a>
						{{end}}
					</div>
					<p style="font-size: 11px;">{{$.i18n.Tr "org.repo_updated"}} {{TimeSince .Updated $.i18n.Lang}}</p>
				</div>
				<div class="description">
					{{if .DescriptionHtml}}<p class="has-emoji">{{.DescriptionHtml}}</p>{{end}}					
				</div>
			</div>
			{{if .GetTags}}
			<div class="extra content">
				<div class="ui horizontal list" style="">
				{{range .GetTags}}
					<div class="item" style="padding-bottom: 0;">
						<a class="ui tiny label" href="/explore/repos?q={{.Etiqueta}}">
						  <i class="tag icon"></i>
						  {{.Etiqueta}}
						</a>
					</div>
				{{end}}
				</div>
			</div>
			{{end}}
		</div>
		
		<script>
			$( ".rating" ).each(function() {
				var calf = parseFloat($(this).html());
				if (calf == 0){
					$(this).html("Sin calificación");
				}
				if (calf > 0 && calf <= 3){
					//$(this).html(calf + ' - Muy Malo');
					$(this).parent().addClass("red");
				} else if(calf > 3 && calf <= 5){
					//$(this).html(calf + ' - Malo');
					$(this).parent().addClass("orange");
				} else if(calf > 5 && calf <= 7){
					//$(this).html(calf + ' - Regular');
					$(this).parent().addClass("yellow");
				} else if(calf > 7 && calf <= 9){
					//$(this).html(calf + ' - Bueno');
					$(this).parent().addClass("green");
				} else if(calf > 9 && calf <= 10){
					//$(this).html(calf + ' - Excelente');
					$(this).parent().addClass("blue");
				} 
			});
		</script>
	{{end}}
</div>
